body {
  background: #ffff;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 255, 255));
}

#brand {
  color: rgb(61, 90, 128);
}

#login-link {
  color: rgb(238, 108, 77);
}

#logout-link {
  color: rgb(238, 108, 77);
}

#signup-link {
  color: rgb(238, 108, 77);
}

#welcome-link {
  color: rgb(238, 108, 77);
}

@font-face {
  font-family: 'Rubik One';
  src: url('./rubik_one.ttf');
}

main {
  padding-top: 40px;
}

.site-header .navbar-nav .nav-link {
  color: rgb(41, 50, 65);
  font-style: normal;
  font-family: 'Rubik One', sans-serif;
  font-weight: normal;
}

.site-header .navbar-nav .nav-link:hover {
  color: rgb(41, 50, 65);
}

.content-section {
  background:rgb(224,251,252);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

#qrcodeContainter
{
  position: relative;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}